* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'work sans';
}

header .cover {
    background-image: url(../images/banner/banner1.png);
    width: 1600px;
    height: 800px;
    background-size: cover;
}

header .left-section {
    padding: 216px 230px 364px 845px;
    text-align: right;
}

.left-section h1 {
    font-size: 65px;
    font-weight: bold;
}

.left-section p {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
}

.left-section button {
    width: 160px;
    height: 64px;
    color: #FFFFFF;
    background-color: #F15B22;
    border-color: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
}