* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'work sans';
}


/* head-section */

header .cover {
    background-image: url(../images/banner/banner1.png);
    width: 1600px;
    height: 800px;
    background-size: cover;
}

header .left-section {
    padding: 216px 230px 364px 845px;
    text-align: right;
}

.left-section h1 {
    font-size: 65px;
    font-weight: bold;
}

.left-section p {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
}

.left-section button {
    width: 160px;
    height: 64px;
    color: #FFFFFF;
    background-color: #F15B22;
    border-color: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
}


/* person -section */

.person {
    font-family: 'work sans';
    display: flex;
    gap: 91px;
}

.person .person-images img {
    width: 569px;
    height: 723px;
    margin-left: 198px;
    margin-top: 78px;
}

.left-person {
    margin-top: 346px;
}

.left-person h2 {
    width: 285px;
    height: 94px;
    font-size: 40px;
    font-weight: bold;
    line-height: auto;
    margin-right: 835px;
}

.left-person p {
    width: 405px;
    height: 105px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
}

.line {
    width: 349px;
    height: 162px;
    margin-top: 16px;
}

.line li {
    text-decoration: none;
}

.plan h1 {
    display: flex;
    justify-content: center;
    margin-top: 159px;
}

.icon-box {
    display: flex;
    gap: 100px;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
}

header .watch {
    background-image: linear-gradient(rgba(201, 185, 185, 0.5), rgba(180, 9, 9, 0.5)), url("/images/watch.png");
    width: 1140px;
    height: 300px;
    background-size: cover;
    display: flex;
    margin-top: 130px;
    margin-left: 230px;
    margin-right: 230px;
}

.heading h1 {
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    width: 459px;
    height: 94px;
    margin-left: 65px;
    margin-top: 59px;
}

.heading button {
    width: 160px;
    height: 64px;
    color: #F15B22;
    background-color: #FFFFFF;
    border-color: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin-left: 65px;
    margin-top: 24px;
}

footer {
    height: 600px;
    width: 1600px;
    background-color: #151414;
}

.footer-continrr .head {
    margin: 130px 885px 130px 230px;
}

.head h1 {
    width: 148px;
    height: 53px;
    font-size: 45px;
    font-weight: bold;
    color: #F8F8F8;
}

.head p {
    width: 485px;
    height: 78px;
    line-height: 26px;
    font-size: 16px;
    margin-top: 14px;
    color: #FFFFFF;
}

.head h4 {
    margin-top: 24px;
    width: 184px;
    height: 26px;
    color: #FFFFFF;
}

.head h5 {
    margin-top: 16px;
    width: 184px;
    height: 26px;
    color: #FFFFFF;
}